.app {
  text-align: center;
  padding: 10px;
}


@media (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .rectangle-container {
    margin: 10px;
    padding: 10px;
  }

  .svg-canvas {
    width: 100%;
    height: auto;
  }
}